@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

.blog-container {
  width: 100%;
  max-width: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #333;
  box-shadow: 0px 0px 15px gray;
}

.blog-nav {
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 600;
}
.blog-searchForm {
  width: 60%;
  padding: 1rem 0 1rem 0.75rem;
}
.blog-searchForm [type="text"] {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 2rem;
  outline: none;
}
.blog-searchForm label {
  position: absolute;
  left: -99999px;
}
.blog-nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
}
.blog-nav li {
  padding: 0.5rem;
}

.blog-nav li:hover,
.blog-nav li:focus {
  padding: 0.5rem;
}
.blog-nav li:hover,
.blog-nav li:focus,
.blog-nav li:hover a,
.blog-nav li:focus a {
  /* color: #333; */
  transition: all 0.3s ease-in-out;
}

.blog-nav li:hover a,
.blog-nav li:focus a {
  cursor: pointer;
}

.post {
  max-width: 600px;
  margin-top: 1rem;
  padding: 2rem;
  border-bottom: 1px solid lightgray;
}

.post a {
  text-decoration: none;
}

.post a,
.post a:visited {
  color: #000;
}

.post:first-child {
  margin-top: 0;
}

.post:last-child {
  border-bottom: none;
}

.postDate {
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.postBody {
  margin: 1rem 0;
}
.NewPost {
  padding: 2rem 3rem;
  flex-grow: 1;
  max-width: 800px;
}
.newPostForm {
  display: flex;
  flex-direction: column;
}

.newPostForm label {
  margin-top: 1rem;
}

.newPostForm input[type="text"],
.newPostForm textarea {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
}

.newPostForm textarea {
  height: 100px;
}

.newPostForm button {
  margin-top: 1rem;
  height: 48px;
  min-width: 48px;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.Missing h2,
.PostPage h2,
.Missing p,
.PostPage p {
  margin-bottom: 1rem;
}

.PostPage button {
  height: 48px;
  min-width: 48px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: red;
  color: #fff;
  cursor: pointer;
}

.statusMsg {
  margin-top: 2rem;
}

@media only screen and (min-width: 610px) {
  .Header h1 {
    font-size: 2rem;
  }

  .blog-nav {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .blog-nav ul {
    text-align: right;
  }

  .blog-nav li:hover,
  .blog-nav li:focus,
  .blog-nav li:hover a,
  .blog-nav li:focus a {
    color: rgb(185, 113, 6);
  }

  .searchForm {
    width: 50%;
    padding: 0.5rem 0;
  }

  .searchForm input[type="text"] {
    margin-left: 0.5rem;
  }

  .newPostForm textarea {
    height: 300px;
  }
}

@media only screen and (min-width: 992px) {
  .Header svg {
    font-size: 3rem;
  }
}

/* Todo List ============================== */

.book-list {
  display: flex;
  margin-bottom: 30px;
}
.book-list ul {
  list-style: none;
}
.navbar h1 {
  margin-bottom: 2rem;
  color: black;
}
.book-detail {
  display: flex;
  color: white;
}

.book-detail :hover {
  cursor: pointer;
}

.book-detail h3 {
  margin-left: 5px;
}

/* Todo Input ============================== */

.color-button {
  width: 150px;
  height: 50px;
  border: 0;
  background-color: #e57373;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--button-dark),
    -0.2rem -0.2rem 0.5rem var(--button-white);
}
.color-button-dark {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: 0;
  border: 0.1px solid #e57373;
  background-color: #864343;
  box-shadow: 0.3rem 0.3rem 0.6rem rgb(70, 9, 5),
    -0.2rem -0.2rem 0.5rem rgb(241, 135, 128);
  margin-left: 5px;
  cursor: pointer;
}
.color-input-dark {
  font-size: 1.2rem;
  color: white;
  height: 50px;
  border-radius: 5px;
  border: 0 solid #e57373;
  padding: 0px 20px;
  margin-right: 10px;
  background-color: #864343;
  box-shadow: inset 0.2rem 0.2rem 0.5rem rgb(128, 0, 0, 0.5),
    inset -0.2rem -0.2rem 0.5rem rgb(241, 135, 128);
}
